<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Madlib</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body id="completebg">
    <div class="title">
        <h1> Taking Care of an Animal</h1>
    </div>
    <div id="complete">
        <p id="paragraph"> How to take care of <b>{{animal}}</b>? 
        Well first of all, <b>{{animal}}</b> is known for being <b>{{adjective}}</b>,
        so it is important for you to help them <b>{{verb1}}</b> and feed them <b>{{food1}}</b>.
        Be careful not to give them <b>{{food2}}</b> or <b>{{object}}</b>, or else they might puke and <b>{{verb2}}</b>.
        To spend quality time with your pet <b>{{animal}}</b>, you should first give it a name. 
        <b>{{name}}</b> the <b>{{animal}}</b> will want to spend time with you, so you should take it to <b>{{place}}</b> very frequently.
        Hopefully you can keep <b>{{name}}</b> alive for as long as possible! </p>
    </div>
</body>
</html>