<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div id="complete">
        <h1 id="title"> Taking Care of an Animal</h1>
        <p id="paragraph"> How to take care of {{animal}}? 
        Well first of all, {{animal}} is known for being {{adjective}},
        so it is important for you to help them {{verb1}} and feed them {{food1}}.
        Be careful not to give them {{food2}} or {{object}}, or else they might puke and {{verb2}}.
        To spend quality time with your pet {{animal}}, you should first give it a name. 
        {{name}} the {{animal}} will want to spend time with you, so you should take it to {{place}} very frequently.
        Hopefully you can keep {{name}} alive for as long as possible! </p>
    </div>
</body>
</html>