<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body id="background">
    <div style="text-align: center; background-color: rgb(134, 194, 134); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 30px;" class="border">
        <h1> Madlibs </h1>
    </div>
    <div class="madlibInput">
        <form action="{{url}}" method="POST">
            <label for="animal">animal</label> 
            <input type="text" name="animal" class="inputBox1"> 
            <label for="adjective">adjective</label> 
            <input type="text" name="adjective" class="inputBox1"> 
            <label for="verb1">verb</label> 
            <input type="text" name="verb1" class="inputBox1"> <br> <br>
            <label for="food1">food</label> 
            <input type="text" name="food1" class="inputBox1"> 
            <label for="food2">food</label>
            <input type="text" name="food2" class="inputBox1"> 
            <label for="object">object</label> 
            <input type="text" name="object" class="inputBox1"> <br> <br>
            <label for="verb2">verb</label> 
            <input type="text" name="verb2" class="inputBox1"> 
            <label for="name">name</label> 
            <input type="text" name="name" class="inputBox1"> 
            <label for="place">place</label> 
            <input type="text" name="place" class="inputBox1"> <br> <br>
            <input type="submit" value="Submit" id="submit">
        </form>   
    </div>
</body>
</html>