<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div style="text-align: center;">
        <h1> Madlibs </h1>
    </div>
    <div class="madlibInput">
    <form action="{{url}}" method="POST">
        <label for="animal">animal</label> 
        <input type="text" name="animal"> 
        <label for="adjective">noun</label> 
        <input type="text" name="adjective">
        <label for="verb1">verb</label> 
        <input type="text" name="verb1"> <br>
        <label for="food1">food</label> 
        <input type="text" name="food1">
        <label for="food2">food</label>
        <input type="text" name="food2">
        <label for="object">object</label> 
        <input type="text" name="object"> <br>
        <label for="verb2">verb</label> 
        <input type="text" name="verb2">
        <label for="name">object</label> 
        <input type="text" name="name">
        <label for="place">object</label> 
        <input type="text" name="place">
    </form>
        
    </div>
</body>
</html>